<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CreateAppointment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h1>Создание записи посещения</h1>
<div class="container mt-3 mb-5">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal">Личный кабинет врача</h1>

        <label for="diagnosis" class="visually-hidden">Диагноз
            <input type="text" id="diagnosis" name="diagnosis" th:value="${diagnosis}" class="form-control"
                   placeholder="Диагноз" required
                   autofocus>
        </label>
        <br>
        <textarea name="data" rows="20" cols="80"  th:value="${data}"
                  placeholder="Данные и рекомендации" required>
        </textarea>
<!--        <label for="data" class="visually-hidden">Данные и рекомендации-->
<!--            <input type="textarea" id="data" name="data" th:value="${data}" class="form-control"-->
<!--                   placeholder="Данные и рекомендации" required>-->
<!--        </label>-->
        <br>
        <button class="btn btn-success" type="submit">Сохранить</button>
    </form>
</div>

</body>
</html>