<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-3 mb-5">
 <div>
    <h1 th:text="'Здравствуйте, '+${name}"> </h1>

     <a class="p-2 text-dark" title="Расписание" th:href="@{'/doctors/'+${id}+'/schedule'}">Просмотреть расписание приемов</a>
     <a class="p-2 text-dark" title="Ввести информацию о приеме для пациента" th:href="@{'/doctors/'+${id}+'/appointments'}">Ввести информацию о приеме для пациента</a>
 </div>
</div>

</body>
</html>