<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center">

<header th:insert="blocks/header :: header"></header>


<div class="container mt-3 mb-5">
    <form class="form-signin" action="/doctors/login" method="post">


        <h1 class="h3 mb-3 fw-normal">Личный кабинет врача</h1>
        <div>
            <label for="username" class="visually-hidden">Имя пользователя</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                   autofocus></div>
        <div><label for="password" class="visually-hidden">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
<!--        можно заменить на form:form-->
        <input type="hidden"
                th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
        />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>

    </form>


</div>
<h6>
    <a href="/doctors/registration">Регистрация</a>
</h6>

</body>
</html>




