<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ReservationsByPatient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</head>
<body>
<H1>Просмотр всех записей к врачу</H1>
<header th:insert="blocks/header :: header"></header>
<table class="table">
    <tbody>
    <tr th:each="r : ${reservations}">
        <td th:text="${r.date}">Дата</td>
        <td th:text="${r.time}">Время</td>
        <td th:text="${r.doctor.surname}">Фамилия врача</td>
        <td th:text="${r.doctor.name}">Имя врача</td>
        <td th:text="${r.doctor.specialization}">Специализация врача</td>
    </tr>
    </tbody>
</table>
</body>
</html>