<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CreateRecord</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

</head>
<body>
<H1>Регистрация</H1>
<header th:insert="blocks/header :: header"></header>
<h1 class="h3 mb-3 fw-normal">Запись к врачу</h1>-->
<div class="container mt-3 mb-5">
    <form method="get">
        <h3 class="h3 mb-3 fw-normal">Выбор даты</h3>
        <label for="dateOfReservation" class="visually-hidden">Дата записи
            <input type="date" id="dateOfReservation" name="dateOfReservation" th:value="${dateOfReservation}"
                   class="form-control"
                   placeholder="Дата записи" required>
        </label>
        <button class="btn btn-success" type="submit">Выбрать дату</button>
    </form>
</div>
<br>
<div class="container my-5">
    <form method="post">
        <table class="table">
            <tbody>
            <tr th:each="time : ${noReservationTime}">
                <td>
                    <button class="btn btn-success" type="submit" th:text="${time}" th:name="time" th:value="${time}">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>