<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CreateRecord</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

</head>
<body>
<H1>Регистрация</H1>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-3 mb-5">
    <form method="get">
        <h1 class="h3 mb-3 fw-normal">Личный кабинет Пациента</h1>

        <div class="form-group">
            <select th:name="specialization">
                <option
                        th:each="specialization : ${specializations}"
                        th:value="${specialization}"
                        th:text="${specialization}">
                </option>
            </select>
        </div>

        <br>

        <label for="doctorSurname" class="visually-hidden">Имя пользователя
            <input type="text" id="doctorSurname" name="doctorSurname" th:value="${doctorSurname}" class="form-control"
                   placeholder="Имя врача"
                   autofocus>
        </label>

        <br>
        <button class="btn btn-success" type="submit">Найти врача</button>
    </form>
</div>
<br>
<div class="container my-5">
    <form method="post">
        <table class="table">
            <tbody>
            <tr th:each="d : ${doctors}">
                <td th:text="${d.specialization}">Специализация</td>
                <td th:text="${d.name}">Имя</td>
                <td th:text="${d.surname}">Фамилия</td>
                <td>
                    <button class="btn btn-success" type="submit" th:name="doctorId" th:value="${d.id}">Выбрать врача
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>